@page
@model CreateNewModel
@{
  
}

<div class="text-center">
    <h4 class="display-4">Create a new task</h4>
</div>

<form method="post">
<div>
        <input type="text" name="title" placeholder="Set a title here" value="" required/>
    </div>

<div class="input-group date" data-provide="datepicker">
    <input type="date" name="deadLine" required>
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>

<div>
    <select name="TaskType" required>
        <option selected disabled>Choose type here</option>
        <option value="0">Work</option>
        <option value="1">Home</option>
        <option value="2">Children</option>
        <option value="3">Freetime</option>
    </select>
</div>

<div>
    <select name="priority" required>
        <option selected disabled>Choose priority here</option>
        <option value="0">Whenever</option>
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
        <option value="4">Immediatly</option>
    </select>
</div>

<span class="input-group-btn">
                <input type="submit" class="btn" Value="Add"/>
                
            </span>

</form>







