@page
@model IndexModel

@{

}

<div class="text-center">
    <h1 class="display-4">Your tasks</h1>
</div>
<div>
    <select>
        <option>All tasks</option>
        <option>ToDo</option>
        <option>Doing</option>
        <option>Done</option>
    </select>
</div>


<div class="text-center">
    <h5>Tasks (@Model.taskList.Count)</h5>
        <table class="table Gettasks">
            @foreach (var text in Model.taskList)
            {
                <tr>
                    <td><input type="radio" name="checkToDo">@text</td>
                </tr>
            }
        </table>
        <button id="btnToDo" class="button">Move</button>
</div>

