@page
@model SearchTaskModel
@{
    
}

<style>
td {
  text-align: left;
}

tr:hover {background-color:#dcdcdc;}

</style>

<div class="text-center">
    <h1 class="display-4">Search for a task</h1>
</div>

<form>
    <div class="form-group">
        <div class ="input-group">
            <input type="search" class="form-control" value="" placeholder="Search here" name="searchTerm"/>
            <span class="input-group-btn">
                <input class="btn" type="submit" value="Search" />
            </span>
        </div>
    </div>
</form>

<div>
@if (Model.Results != null) 
{
    <table class="table">
    <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Tasklist</th>
            </tr>
    </thead>
    @foreach(Classlibrary.Task v in Model.Results) 
    {
        <tr>
            <td>@v.Title</td>
            <td>@Startup.todoHandler.GetListType(Model.Results.IndexOf(v))</td>
        </tr>
    }
    </table>
}
</div>