@page
@model SearchTaskModel
@{
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form method="get">
    <div class="form-group">
        <div class ="input-group">
            <input type="search" class="form-control" value="" placeholder="Search here" name="searchTerm"/>
            <span class="input-group-btn">
                <input class="btn" type="submit" value="Search" />
            </span>
        </div>
    </div>
</form>

@if (Model.Results != null) 
{
    foreach(var v in Model.Results) 
    {
        <p>@v.Title</p>
    }
}