@page
@model SearchTaskModel
@{
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form method="get">
    <div class="form-group">
        <div class ="input-group">
            <input type="search" class="form-control" value="" placeholder="Search here" name="searchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="OnGet()">Search</button>
            </span>
        </div>
    </div>
</form>


